@import url('//rsms.me/inter/inter.css');
@import url('//fonts.cdnfonts.com/css/abeezee');

body {
  background: linear-gradient(85deg, rgba(101, 113, 172, 1) 10%, rgba(63, 124, 177, 1) 25%, rgba(48, 145, 166, 1) 50%, rgba(46, 127, 196, 1) 75%, rgb(40, 100, 180) 90%);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  font-family: 'Inter', sans-serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background-color: #24252A;
  display: flex;
  align-items: end;
  padding: 16px 5%;
  padding-right: 0;
  box-shadow: 0px -1px 7px 0px black;
  justify-content: space-around;
  height: 101px;
}

#box {
  background-color: #E6E6EC;
  height: 700px;
  margin: 0 16%;
  box-shadow: -5px 3px 3px 3px rgb(68 68 68 / 25%);
  border-radius: 8px;
  overflow: auto;
  margin-top: 65px;
  padding: 8px 0;
}

#chat-bubble {
  background-color: white;
  margin: 12px 5%;
  height: 88%;
  width: auto;
  border-radius: 8px;
  overflow-y: scroll;
  font-size: 18px;
  display: flex;
}

#input-bubble {
  justify-content: end;
  background-color: rgb(255, 255, 255);
  margin: auto;
  height: 50px;
  width: 90%;
  border-radius: 8px;
}

#form {
  margin-top: 0.8%;
  margin-right: 4px;
  display: flex;
  justify-content: flex-end;
}

#chat-input {
  margin-top: 4px;
  height: 42px;
  width: 50%;
  border: none;
  padding-left: 12px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: -2px 2px 6px 1px rgb(68 68 68 / 25%);
}

#chat-input:focus {
  outline: none;
}

#send {
  color: white;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 3px 6px 1px rgb(68 68 68 / 25%);
  width: 44px;
  height: 43px;
}

.bubble {
  display: flex;
  background-color: #E6E6EC;
  border-radius: 6px;
  padding-bottom: 4px;
  margin-bottom: 2px;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: start;
}

.bubble-message {
  border-bottom-right-radius: 0px;
}

.bubble-answer {
  border-bottom-left-radius: 0px;
}

.message {
  margin: 0 4px 0 2px;
  padding-left: 8px;
  padding-top: 4px;
}

.time {
  font-size: 11px;
  min-width: 47px;
  margin: 16px 6px 3px;
  display: flex;
  flex-direction: column-reverse;
}

.chat-img {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  align-self: flex-end;
}

.chat-pack {
  width: fit-content;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  max-width: 66%;
  height: auto;
  margin-top: 22px;
  word-break: break-word;
  text-align-last: left;
}

.chat-answer {
  align-self: flex-start;
}

.chat-message {
  align-self: flex-end;
}

.message-img {
  margin-left: 5px;
}

.answer-img {
  margin-right: 5px;
}

#div-profile {
  display: flex;
  height: 100px;
  padding-top: 30px;
}

#div-tabs {
  width: auto;
  height: 57px;
  text-align: end;
  margin-left: 120px;
}

main {
  position: absolute;
  width: 100%;
}

.logo {
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.nav-links li,
#username {
  display: inline-block;
  padding: 0px 20px;
  margin-top: 15px;
}

.nav-links li a {
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

.button {
  max-width: 120px;
  max-height: 45px;
  padding: 9px 25px;
  margin-top: 4px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button-link {
  margin-top: 10px;
  margin-left: 20px;
  height: 50px;
}

.button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

#username {
  text-align: end;
  max-width: 200px;
  color: #3DA6AD;
  padding-top: 7px;
  padding-right: 5px;
  font-weight: bold;
  margin-right: 15px;
}

.picture:hover {
  background-color: rgb(255, 255, 255);
}

#chat-when,
#chat-should {
  height: 42px;
  border: none;
  padding-left: 14px;
  box-shadow: -2px 2px 6px 1px rgb(68 68 68 / 25%);
}

#chat-when {
  border-radius: 8px;
  width: 280px;
}

#chat-should {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 240px;
}

#when-say,
#should-say {
  width: 50%;
}

#when-say {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 80px;
}

#should-say {
  display: inline-flex;
  margin-bottom: 30px;
}

.alert-red,
.alert-green {
  text-align: center;
  width: 350px;
  height: 50px;
  padding-top: 8px;
  position: absolute;
  top: 20%;
  left: 38%;
}

.alert-green {
  background-color: #D1E7DD;
  color: #1B5132;
  border: 1px solid #c0e4d4;
  border-radius: 4px;
}

.alert-red {
  background-color: #F8D7DA;
  color: #842029;
  border: 1px solid #f3c0c5;
  border-radius: 4px;
}

#outer-box {
  height: 750px;
  width: auto;
  margin: 0 14%;
  margin-top: 50px;
  border-radius: 8px;
  overflow: auto;
}

#inner-box {
  background-color: white;
  width: auto;
  height: 620px;
  margin: 0 11.6%;
  border-radius: 8px;
  overflow: auto;
  margin-top: 70px;
}

#about-site {
  height: 300px;
  float: right;
  margin-right: 160px;
  margin-top: 90px;
}

#about-me {
  text-align: start;
  height: 220px;
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 30px;
}

#about-site,
#about-me {
  width: 284px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 96px;
  line-height: 110px;
}

#first-paragraph,
#second-paragraph,
#about-me,
#about-site {
  color: #3DA6AD;
}

#next {
  display: block;
  margin: 75px auto 0;
}

#previous {
  display: block;
  margin: 8px auto;

}

#photo {
  width: 322px;
  height: 380px;
  float: right;
  margin-right: 160px;
  margin-top: 100px;
}

#link {
  margin-top: 0;
  text-decoration: underline;
  color: #3DA6AD;
}

#link:hover {
  color: #57c6ce;
}

#photo-sized {
  display: none;
}

#footer {
  display: none;
  position: fixed;
  bottom: 0;
  background: radial-gradient(circle, #306899, #32495e);
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  font-size: 18px;
  overflow: hidden;
  color: white;
  clip-path:
    polygon(0% 20px,
      /* top left */
      20px 0%,
      /* top left */
      calc(100% - 20px) 0%,
      /* top right */
      100% 20px,
      /* top right */
      100% 0,
      /* bottom right */
      calc(100% - 0px) 100%,
      /* bottom right */
      0px 100%,
      /* bottom left */
      0 calc(100% - 0px)
      /* bottom left */
    );
}

#footer-link {
  text-decoration: underline;
  font-weight: bold;
}

#footer-link:hover {
  color: #0088a9;
}

.picture-img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  box-shadow: -1px 1px 4px 0px #65646c;
}

.dropdown {
  height: 78px;
}

.dropdown-content,
.menu-content {
  position: absolute;
  margin-top: 8px;
  display: none;
  background-color: transparent;
  width: 170px;
  padding: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  box-shadow: -1px 1px 5px 0px #65646c;
}

.dropdown-content button,
#selected {
  background-color: #8899b4;
  text-decoration: none;
  width: 69px;
  height: 69px;
  padding: 2px;
  padding-left: 2px;
  border-radius: 50%;
}

.dropdown-content a:hover {
  background-color: #4a525f;
}

.dropdown-content:hover {
  background-color: #728097;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #24252A;
}

.div-menu:hover .menu-content {
  display: block;
  background-color: #24252A;
}

.menu-content:hover {
  display: block;
}

.menu-content a:hover {
  color: #0088a9;
}

.menu-content {
  margin-top: 16px;
  padding-top: 6px;
  padding-left: 12px;
  font-weight: bold;
  text-align: start;
  width: 100px;
  left: 60.6%;
}

.div-menu {
  height: 66px;
}

.dropdown-item {
  background-color: #8899b4;
  display: inline-block;
  border-radius: 8px;
  margin: 6px 1px;
  margin-left: 5px;
  box-shadow: -1px 1px 5px 0px #65646c;
}

.menu-item {
  display: block;
  margin-top: 2px;
}

.picture-form {
  width: 75px;
  display: inline-block;
}

#freepik,
.menu-item {
  background-color: transparent;
  color: #8899b4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 4px;
}

#freepik:hover {
  text-decoration: underline;
}

.div-menu,
#logout-img {
  display: none;
}

@media screen and (max-width: 1565px) {
  #about-site {
    font-size: 40px;
    height: 70px;
  }

  #photo-sized {
    display: flex;
    justify-content: center;
  }

  #previous {
    margin-top: 30px;
  }

  #about-me {
    text-align: center;
    height: 150px;
    margin-top: 36px;
  }
}

@media screen and (max-width: 1405px) {
  #about-me {
    text-align-last: center;
  }
}

@media screen and (max-width: 1075px) {
  #div-logo {
    display: none;
  }

  #div-tabs {
    margin: 0;
  }

  #logout-img {
    display: block;
    width: 28px;
    height: 28px;
  }

  #logout-span {
    display: none;
  }

  #logout {
    padding: 8px 20px;
  }

  #when-say,
  #should-say {
    width: 20%;
  }

  .alert-red,
  .alert-green {
    left: 30%;
  }

  #about-site {
    font-size: 28px;
    margin-right: 88px;
  }
}

@media screen and (max-width: 880px) {
  #box {
    margin: 0;
  }
}

@media screen and (max-width: 780px) {
  header {
    padding: 16px 0;
  }
}

@media screen and (max-width: 755px) {
  #about-me {
    height: 190px;
    font-size: 76px;
    line-height: 90px;
  }
}

@media screen and (max-width: 700px) {
  #outer-box {
    margin: 0;
  }

  #inner-box {
    margin: 50px 5% 0;
  }

  #about-site {
    margin-right: 100px;
  }

  #chat-input {
    width: 60%;
  }

  .alert-red,
  .alert-green {
    left: 25%;
  }
}

@media screen and (max-width: 685px) {
  @media screen and (max-height: 1015px) {
    #box {
      height: 750px;
    }
  }

  #box {
    margin: 0px;
  }

  #div-tabs {
    display: none;
  }

  .button-logout {
    display: none;
  }

  .div-menu {
    display: block;
    margin-top: 12px
  }

  #menu-img {
    width: 28px;
    height: 28px;
  }

  @media screen and (max-width: 560px) {
    #box {
      margin: 0px;
    }

    #chat-bubble {
      padding-right: 25%;
    }

    .chat-pack {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 480px) {

    #when-say,
    #should-say {
      width: 10%;
    }

    #chat-bubble {
      padding-right: 68%;
      padding-left: 40px;
    }

    #chat-input {
      width: 70%;
    }

    .alert-red,
    .alert-green {
      top: 30%;
      left: 7%;
    }
  }

  @media screen and (max-width: 440px) {
    #inner-box {
      margin: 50px 0;
    }

    #about-site {
      margin-right: 40px;
    }

    #when-say,
    #should-say {
      width: 0;
    }

  }

  @media screen and (max-width: 400px) {
    #chat-bubble {
      padding-right: 80%;
      padding-left: 40px;
      margin-top: 20px;
    }

    #chat-input {
      width: 84.8%;
    }

    .alert-red,
    .alert-green {
      top: 30%;
      left: 4%;
    }
  }

  @media screen and (max-width: 375px) {
    #chat-bubble {
      padding-right: 85%;
      padding-left: 40px;
      margin-top: 20px;
    }

    .alert-red,
    .alert-green {
      top: 30%;
      left: 2%;
    }

    #chat-when {
      width: 210px;
    }

    #chat-should {
      width: 190px;
    }

    #about-me {
        font-size: 56px;
        height: 150px;
        line-height: 70px;
    }
  }

  @media screen and (max-height: 1010px) {
    #box {
      height: 750px;
    }

    #chat-bubble {
      margin-top: 0;
    }
  }

  @media screen and (max-height: 920px) {
    #box {
      height: 730px;
    }
  }

  @media screen and (max-height: 880px) {
    #box {
      height: 685px;
    }
  }

  @media screen and (max-height: 820px) {
    #box {
      height: 625px;
    }
  }

  @media screen and (max-height: 765px) {
    #box {
      height: 565px;
    }
  }

  @media screen and (max-height: 735px) {
    #box {
      height: 540px;
    }
  }


  @media screen and (max-height: 700px) {
    #box {
      height: 510px;
    }
  }

  @media screen and (max-height: 665px) {
    #box {
      height: 480px;
    }
  }

  @media screen and (max-height: 635px) {
    #box {
      height: 450px;
    }
  }

}