{% extends "base.html" %}

{% load maps_tags %}

{% block "head" %}

<style>
    #chat-bubble {
        padding: 0 3% 24px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    #send {
        margin-top: 4px;
    }
</style>
{% load static %}
{% endblock %}

{% block "content" %}
<div id="box">
    <div id="chat-bubble">
        <!-- iterate through messages list and if the position is even display an input and a user selected picture, if it's odd display a response and the bot picture -->
        {% if iterable %}
            {% for i in iterable %}
                {% if i|divisibleby:"2" == 1 %}
                    <div class="chat-pack chat-answer">
                        <img class="chat-img answer-img" src="{% static 'media/chat-img.png' %}">
                        <div class="bubble bubble-answer">
                            <p class="message">{{messages|list_item:forloop.revcounter0}}</p>
                            <p class="time">{{time|list_item:forloop.revcounter0}}</p>
                        </div>
                    </div>
                {% endif %}
                {% if i|divisibleby:"2" == 0 %}
                    <div class="chat-pack chat-message">
                        <div class="bubble bubble-message">
                            <p class="message">{{messages|list_item:forloop.revcounter0}}</p>
                            <p class="time">{{time|list_item:forloop.revcounter0}}</p>
                        </div>
                        <img class="chat-img message-img" src="/static/media/pfp/{{picture}}.png">
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div id="input-bubble">
        <form id="form" method="POST" action=""> {% csrf_token %}
            <input id="chat-input" type="text" placeholder="Type something here..." required name="input"
                autofocus="autofocus" autocomplete="off">
            <button id="send">
                <svg width="32px" height="32px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m6 12-3 9 18-9L3 3l3 9zm0 0h6" />
                </svg>
            </button>
        </form>
    </div>
</div>
{% endblock %}