{% extends "base.html" %}

{% block "head" %}

<style>
    #chat-bubble {
        margin-top: 38px;
        padding: 5% 15%;
        color: rgb(255, 255, 255);
        align-items: flex-end;
    }

    @media screen and (max-width: 400px) {
        #chat-bubble {
            padding: 5% 10%;
        }
    }

    @media screen and (max-width: 375px) {
        #chat-bubble {
            padding: 5% 10%;
        }
    }
</style>

{% endblock %}

{% block "content" %}
<div class="container text-center mt-2 mb-0">
</div>
<div id="box">
    <form id="chat-bubble" method="POST"> {% csrf_token %}
        {% if exists == False %}
            <div class="alert alert-green">
                Successfully taught!
            </div>
        {% endif %}
        {% if exists == True %}
            <div class="alert-red">
                This has already been taught!
            </div>
        {% endif %}
        <div id="when-say">
            <input id="chat-when" type="text" placeholder="When you say: " required name="train" autocomplete="off">
        </div>
        <div id="should-say">
            <input id="chat-should" type="text" placeholder="I should say: " required name="trained" autocomplete="off">
            <button id="send">
                <svg width="32px" height="32px" viewBox="0 0 24 24" xmlns="www.w3.org/2000/svg" fill="none">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m6 12-3 9 18-9L3 3l3 9zm0 0h6" />
                </svg>
            </button>
        </div>
    </form>
</div>
<script>

</script>
{% endblock %}